@model CrudEnfermeiros.Models.ViewModel.EnfermeirosFormViewModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Enfermeiro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Enfermeiro.Id" class="control-label"></label>
                <input asp-for="Enfermeiro.Id" class="form-control" />
                <span asp-validation-for="Enfermeiro.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.NomeCompleto" class="control-label"></label>
                <input asp-for="Enfermeiro.NomeCompleto" class="form-control" />
                <span asp-validation-for="Enfermeiro.NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.Cpf" class="control-label"></label>
                <input asp-for="Enfermeiro.Cpf" class="form-control" />
                <span asp-validation-for="Enfermeiro.Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.Coren" class="control-label"></label>
                <input asp-for="Enfermeiro.Coren" class="form-control" />
                <span asp-validation-for="Enfermeiro.Coren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.DataDeNasciento" class="control-label"></label>
                <input asp-for="Enfermeiro.DataDeNasciento" class="form-control" />
                <span asp-validation-for="Enfermeiro.DataDeNasciento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enfermeiro.HospitalId" class="control-label"></label>
                <select asp-for="Enfermeiro.HospitalId" asp-items="@(new SelectList(Model.Hospitais, "Id", "Nome"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

